/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: "Chakra Petch", sans-serif;
    font-weight: 300;
    font-style: normal;
    /* font-size: medium; */
    font-weight: 500;
    /* background-color:#1b1b32; */
    /* color: white; */
}

body{
    background-color: #1b1b32;
    overflow-x: hidden;
}

/* .home{
    background: url("/images/back_video.mp4") no-repeat center;
    background-size: cover;
    height: 90vh;
} */

.about{
    background: url("/images/about-back-fotor-20240325184432.png") no-repeat center;
    background-size: cover;
    /* padding: 350px 0px 350px 0px; */
    height: 100vh;
    
}



.logo{
    position: relative;
    top: 40%;
    left: 4%;
}

 #info{
   text-align: center;
   width: 50%;
   display: flex;
   position: relative;
   top:10%;
   margin-left: auto;
   margin-right: auto;
   animation: fade-up 2s ease;
   font-size: 20px;
   
   
}
 

ion-icon{
    color: wheat;
    font-size: 30px;
    margin: 0 10px 0 10px;
}


@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
} 

.animate{
    transform: translateY(150px);
    transition: all 2s ease;
    opacity: 0;
}

nav{
    background-color:#1b1b32;
    height: 80px;
}

#nav-logo{
    height: 70px;
    border-radius: 150px;
    margin: 5px;
}

.nav-ele{
 position: absolute;
 right: 5%;
 top:7%;
}


nav a{
    margin-left:6px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    bottom: 25px;
    
    display: inline-block;

}

#drop-logo{

    width: 50px;
    border-radius: 10px;
    position: absolute;
    right: 7%;
    margin:15px;
    display: none;
}



#register{
    margin: 10px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    bottom: 25px;
    border-radius: 6px;
    padding: 5px;
    border: none;
    
}

#login{
    color: white;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    bottom: 25px;
    border-radius: 6px;
    /* padding: 5px; */
    border: none;
  
}

#register:hover{
    color: #0067f7;
    text-decoration: underline;
}

#login:hover{
    color: #0067f7;
    text-decoration: underline;
}

a:hover{
    color: #0067f7;
    text-decoration: underline;
}

.heading{
    font-size: 25px;
}

main{
    background-color: #1b1b32;
    color: white;
  
}



 .card{
    margin: 10px;
    padding: 10px;
    min-height: fit-content;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #141425;
    border: none;
    border-radius: 10px;

}

.card:hover{
    
    box-shadow: 5px 10px 10px 1px #0067f7;
    position: relative;
    border-radius: 10px;
    border: 4px dashed transparent;
}

.slider{
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
}

.card img{
    width: 170px;
}



h1,h3{
   text-align: center;
}

.btn{
    border-radius: 6px;
     background-color: #0067f7;
     border: none;
     width: 100px;
     padding: 4px;
     color: white;
     text-align: center;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     position: relative;
     bottom: 10px;
     
}

.btn:hover{
    cursor: pointer;
    background-color: blue;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #1b1b32;
    color: white;
    height: 50%;
    
}

footer a,p{
 margin: 10px;
}

video{
    /* width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;*/

    /* position: fixed;
    right: 0;
    bottom: 0; */
    min-width: 100%;
    min-height: 100%;
} 

.info{
   text-align: center;
}

.ani{
    /* min-height: 10vh; */
    position: relative;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 600;
    min-width: 270px;
}

.ani span{
    position: relative;
    font-size:40px ;
    font-weight: 600;
}

.ani span::before{
    content: "ROBOTICS AND AUTOMATION WING SFIT";
    color: #0067f7;
    animation: words 20s infinite;
}

.ani span::after{
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 100%;
    background-color: #1b1b32;
    border-left: 2px solid #0067f7;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to{
        border-left: 2px solid #ff7f5000;
    }
}

@keyframes words {
    0%,20%{
        content: "ROBOTICS AND AUTOMATION WING SFIT";
    }
  
}

@keyframes typing {
    10%,15%,30%,35%,50%,55%,70%,75%,90%,95%{
        width: 0;
    }
    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 8px);
    }
}

.dropdown{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    right: 7%;
    display: none;
}

.dropdown li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.dropdown ul li a{
    text-decoration: none;
}

.team-drop{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    right: 30%;
    top:8%;
    display: none;
}

.team-drop li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 10px 0;
    margin: 10px;
}

.team-drop ul li a{
    text-decoration: none;
}

.slider1{
    height: 100px;
    margin: 5% 0 5% 0;
    overflow: hidden;
     position: relative;
     width: auto;
}

/* .slider img{
    width: 100px;
    height: 100px;
} */

.slider1 .slider-track{
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 20px;
  width: calc(250px*14);
}

.slider1 .slide{
    height: 100px;
    width: 250px;
}

.box{
    transform: translateX(100%);
    transition: transform 0.4s ease;
}

.show{
    transform: translateX(0);
}

.box:nth-of-type(even){
   /* transform: translateX(-100%);  */
}



@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*7));
    }
}

@media screen and (width<=600px) {

    .box{
        transform: translateX(0%);
    }

    nav a{
        display:none;
    }
    #drop-logo{
        display: inline-block;
    }
    
    #nav-logo{
        height: 60px;
        border-radius: 150px;
        margin: 8px;
    }
   .ani span::after{
    animation: stop; 
    display: none;
   }
 
   .ani{
    top: 10px;
    margin-left: 20px;
    display: none;
   }

   #info{
    top: 20px;
    font-size: 12px;
   }

}
@media screen and (width<=300){
    footer{
      margin: 5px;
      height: 10%;
    }  
  }


